* {
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
}

body {
    min-height: 100%;
}

datalist option::first-letter {
	text-transform: uppercase;
  }

header {
	display: flex;
	justify-content: center;
	margin-bottom: 65px;
	background-color: rgb(207, 26, 26)
}

.page_grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.pokeList a,
.page_grid a {
	text-decoration: none;
	color: black;
}

.pokeList a:hover,
.page_grid a:hover {
	color: blue;
}

.prevPage,
.nextPage {
	font-size: 24px;
}

.poke_name,
.poke_img {
	display: flex;
	justify-content: center;
}

h1 {
	margin-bottom: 20px;
}

footer {
	position: absolute;
	bottom:0;
    left:0;
	width: 100%;
	min-height: 200px;
    background-image: url(/images/footer_background.png);
    background-repeat: none;
    background-size: cover;
    background-position: center center;
}

.container {
	display: flex;
	justify-content: center;
	align-content: center;
}

.device img,
.roton {
    width: 100px;
}